[submodule "lib/eigen-git-mirror"]
	path = lib/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/tinyexr"]
	path = lib/tinyexr
	url = https://github.com/syoyo/tinyexr.git
